:root {
    --main-bg-color : #0000003a;
}

.container-bills { 
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 800px;


    
}

.bill-element {
    border: 1px solid rgba(0,0,0,0.2);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -1px -1px 7px -3px;
    background-color: var(--main-bg-color);
}

.wrap-title-buttons {
    display: flex;
    justify-content: space-between;
}

.container-icons-edit-trash {
    align-self: center;
    justify-self: center;
    
}

.buttons-edit-trash {
    border: none;
    background-color: var(--main-bg-color);
    transition: 0.2s;
}

.buttons-edit-trash:hover {
    cursor: pointer;
    transform: scale(1.1);
}