.container-bills { 
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 800px;
}

.bill-element {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 10px;
}

.wrap-title-buttons {
    display: flex;
    justify-content: space-between;
}

.icons-edit-trash {
    align-self: center;
    justify-self: center;
}

.icons-edit-trash  > button:hover {
    cursor: pointer;
}