#root {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}


.wrapper-app-align {

  margin: 0 auto;
  max-width: 800px;
}

.icon-fa-plus {
  margin: 10px;
  width: 100px;
  height: 30px;
}